@model Guitar

<div class="container" style="padding-bottom:27px;">
    <div class="row">
        <div class="thumbnail">
            <img alt="@Model.Model" src="@Model.ImageUrl">
            <div class="caption-full">
                <h3><b>€ @Model.Price</b></h3>
                <h4><b>Model:</b> @Model.Model</h4>
                <h4><b>Builder:</b> @Model.Builder</h4>
                <h4><b>Type:</b> @Model.Type</h4>
                <h4><b>Top Wood:</b> @Model.TopWood</h4>
                <h4><b>Back Wood:</b> @Model.BackWood</h4>
                <p style="font-size:17px;"><b>Description:</b> <br />@Model.Description</p>
            </div>
        </div>
    </div>
</div>



@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
