@model IEnumerable<Guitar>


<div style="background-color:darkgoldenrod">

    <div class="container text-center" style="padding-top:100px; padding-bottom: 420px;">
        <h1 class="text-center" style="padding-bottom:60px; color:black; font-size:45px;">Your WishList</h1>

        <div class="row" style="background-color:white; padding:30px 20px; border-radius:5px;">
            <ul style="list-style-type: none;">
                @foreach (var guitar in Model)
                {

                    <li style="font-size:25px;">

                        <a asp-action="Details" asp-controller="Guitar" asp-route-id="@guitar.Id" data-toggle="tooltip" title="View details of guitar @guitar.Model">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <img src="@guitar.ImageUrl" alt="guitar" style="width: 100%" class="img-responsive">
                            </div>
                        </a>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <ul style="list-style-type: none;">
                                <li style="font-size:30px;"><b>@guitar.Price €</b></li>
                                <li><h4><b>Model: </b>@guitar.Model</h4></li>
                                <li><h4><b>Builder: </b>@guitar.Builder</h4></li>
                                <li><h4><b>Type: </b>@guitar.Type</h4></li>
                                <li><h4><b>BackWood: </b>@guitar.BackWood</h4></li>
                                <li><h4><b>TopWood: </b>@guitar.TopWood</h4></li>
                            </ul>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <a class="btn btn-default btn-lg btn-block" asp-action="ShoppingCart" asp-controller="Guitar" asp-route-id="@guitar.Id"><span class="glyphicon glyphicon-shopping-cart"></span>  Add to shopping cart</a>
                            <a class="btn btn-primary btn-lg btn-block" asp-action="Details" asp-controller="Guitar" asp-route-id="@guitar.Id"><span class="glyphicon glyphicon-eye-open"></span>  View details</a>
                            <a class="btn btn-danger btn-lg btn-block" asp-action="Delete" asp-controller="Guitar" asp-route-id="@guitar.Id"><span class="glyphicon glyphicon-trash"></span>  Delete from wishlist</a>
                        </div>

                    </li>

                }
            </ul>
        </div>
    </div>

</div>